*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(110, 182, 110);
}

main{
    padding-top: 80px;
}

.left{
    font-size: 1.5rem;
}
.left img{
    padding-top: 25px;
    border-radius: 50px;
    width: 150px;
    height: 100px;
    max-width: 100px; /* Added max-width */
}

.firstSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection > div{
    width: 100%;
    text-align: center;
}

.leftSection{
    font-size: 3rem;
}

.leftSection .buttons{
    padding: 50px 0;
}

.leftSection .btn{
    padding: 10px;
    background: #37b837;;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn > a{
    text-decoration: none;
    color: white;
}

.rightSection img{
    border-radius: 90px;
    width: 100%;
    max-width: 500px; /* Added max-width */
}

.purple{
    color: rgb(81, 161, 81);
}

#element{
    color: rgb(110, 182, 110);
}

footer{
    background-color: #0e0e1a;
    padding-top: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i{
    color: green;
}

.footer-rights{
    text-align: center;
    color: white;
}

/* Media Queries for Responsive Design */

@media only screen and (min-width: 768px) {
    .firstSection{
        flex-direction: row;
    }

    .firstSection > div{
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .firstSection > div{
        width: 40%;
    }
}
